* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
.navbar {
  display: inline-block;
}

nav {
  background-color: rgb(67, 30, 90);
  color: white;
  width: 100vw;
  height: 8vh;
}
label {
  font-weight: bold;
  line-height: 2.9rem;
  margin-left: 1rem;
  color: white;
}
nav ul {
  float: right;
  margin-right: 2rem;
}
nav ul li {
  display: inline-block;
  line-height: 2.9rem;
  margin: 0 8px;
}

button {
  padding: 5px;
  width: 5.2rem;
  background-color: #ffffff;
  border-radius: 15px;

  margin-left: 7px;
}

button:hover {
  background-color: #cbcbcb;
}
