@media (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 3rem;
    width: 80vw;
    border: 5px solid black;
    border-radius: 50px 50px 0px 0px;
    background-color: #fff;
    justify-content: space-between;
  }
  .productDetails {
    border: 3px solid green;
    flex-direction: column;
    align-content: center;
    background-color: #3b1c32fa;
    border-radius: 0px 45px 45px 0px;
    border-bottom: none;
    width: 100%;
  }

  .title {
    border: 3px solid red;
    width: 50%;
    font-size: 0.75rem;
    color: #f6f8fa;
    text-transform: uppercase;
  }
}

body {
  background-color: #fff;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
}

.container {
  display: flex;
  width: 100%;
  border: solid 4px black;
  border-radius: 50px;
  background-color: #fff;
}
.imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 40vw;
  padding: 10px;
}
.imgCont {
  margin: 0 auto;
  width: 100%;
}

.imgCont img {
  display: block;
  width: 80%;
  max-width: 300px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of image*/
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #3b1c32fa;
  border-radius: 0px 45px 45px 0px;
  border-bottom: none;
  width: 30vw;
}

.title {
  padding-left: 1.25rem;
  font-size: 0.75rem;
  color: #f6f8fa;
  text-transform: uppercase;
}

.descriptionContainer {
  display: flex;
  width: 100vw;
  /*  border: 3px solid red; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-style: italic;
  color: #f6f8fa;
  font-size: 0.5rem;
  text-align: justify;
  text-justify: inherit;
}

.bodega {
  padding-top: 2.5em;
  padding-left: 1.25rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #c89933;
}

.title {
  padding-left: 1.25rem;
  font-size: 1.25rem;
  color: #f6f8fa;
  text-align: start;
  text-transform: uppercase;
}
.cepa {
  padding-left: 1.25rem;
  font-size: 1rem;
  font-weight: 200;
  color: #f6f8fa;
  text-transform: uppercase;
}
.descriptionContainer {
  display: flex;
  width: 25vw;
  align-items: center;
  color: #f6f8fa;
  font-size: 1rem;
  font-style: italic;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;
  text-justify: inherit;
}

.priceContainer {
  display: flex;
  border-bottom: 1px solid yellowgreen;
  justify-content: space-between;
}
.precio {
  padding-left: 3rem;
  margin-top: 2rem;
  font-size: 2rem;
  color: #f6f8fa;
}

.stock {
  color: #f6f8fa;
  font-weight: 500;
  font-size: 14px;
}

.qty {
  display: flex;
  margin-top: 2rem;
  color: #f6f8fa;

  justify-content: space-between;
}

.control {
  display: flex;
  text-align: center;
}

.input {
  max-width: 3rem;
  height: 1.75rem;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgb(44, 20, 59);
}

.button {
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  border-radius: 5px;
  height: 1.25rem;
  font-size: 0.75rem;
  text-align: center;
  align-self: center;
}

.button:hover {
  background-color: #3b1c32;
  border: 2px groove white;
  color: white;
  transform: scale(0.8);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transition: 150ms ease-in-out;
}

.inputButtons {
  display: flex;
}

.comprar {
  cursor: pointer;
  text-align: center;
}
.favorites {
  margin-top: 2rem;
  margin-left: 2rem;
  color: #f6f8fa;
}

.cart {
  color: white;
}

.carrito {
  display: flex;
  color: white;
}
